<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={{ url_for('static', filename='styles/backup.css')}}  rel="stylesheet">
    {% block head%}{%endblock%}
    
</head>
<body>
    <p style="text-align: center;">
        <a href="/">
            <img class ="logo2" src={{ url_for('static', filename='images/logo.png')}} alt="Urban Closet Logo" height="85">
        </a>
    </p>
    {% block body%}
    {%endblock%}
</body>
</html>