{%extends 'base.html'%}

{% block head %}
		<title>Product Search</title>
{%endblock%}

{% block body%}

<body>
	

		<div class="container" id="container">
			<table class="gridtable" id="tableMain">
				<thead>
					<tr class="tableheader">
						<th class="searchHeader">Customer ID</th>
						<th class="searchHeader">First Name</th>
						<th class="searchHeader">Last Name</th>
						<th class="searchHeader">Email</th>
					</tr>
				</thead>
				<tbody>			
				
				</tbody>
			</table>
		</div>	

		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		
		<script>
			
			// List of matching items based on attributes selected on the search page
			var data = {{list | tojson}};
			
			// Add rows to the table
			$(document).ready(function () {
				for (var i = 0; i < data.length; i++) {
					var newRow = data[i]
					var customerTable = appendTableRow($('#tableMain'), newRow);
				}
			});
			
			// Add a new row to the column
			function appendTableRow(table, rowData) {
				// Create an object 'lastRow' to hold the last row in the table
				var lastRow = $('<tr/>').appendTo(table.find('tbody:last'));
				// for each of the indexes (columns) in the rowData provided
				$.each(rowData, function(colIndex, text) {
					// If it is the first column (product ID), add a <td> and link it to the next page
					if(colIndex == 0) {
						lastRow.append('<td>' + '<a href="customer_result/' + text + '"">' + text + '</a>' + '</td>');
					}
					// otherwise just display it normally, the dollar sign below is just the JQuery way of doing the thing above
					else {
						lastRow.append($('<td/>').text(text));
					}
				});
			return lastRow;
			}
			
		</script>
		
</body>
</html>
{%endblock%}	